@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<p> Dar e Zameen, A door to opportunity, is a platform that provides best real estate services to its clients. 
    Our sole purpose is to provide real estate services along with free consultation about the properties and fulfill our client’s requirements with honesty and hard work.
    We have a strong network of honest realtors that are eager to work hard and fulfill our client’s requirements.</p>
