@{
    ViewBag.Title = "Contact";
}
<h2>Feel free to contact us.</h2>


<address>
    A462<br />
    Block#15, Gulistan e jouhar,Khi<br />
    <abbr title="Phone">P:</abbr>
    03323418549
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Info@darezameen.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@darezameen.com</a>
</address>