@{
    ViewBag.Title = "Home Page";
}
<br /><br /><br />
<div class="row">
    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">

    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
       <h2>Coming Soon! InsAllah</h2>
    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">

    </div>
</div>